<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Jokes</title>
</head>
<body>

<!--<div style="height:200px; width: 100%; background-size: contain; background-image: url('https://www.stickpng.com/assets/thumbs/580b585b2edbce24c47b294d.png');"></div>-->
<div style="height:100px; width: 100%; background-size: contain; background-image: url('https://avatanplus.com/files/resources/original/586665c0324fb1594ffd76ce.png');"></div>
<center>
    <h1>Chuck Norris Joke!</h1>
    <p th:text="${joke}">Insert Joke here!</p>
    <h3> by Chuck Norris</h3>
</center>


</body>
</html>